In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/

In [29]:
%%sql
DROP DATABASE IF EXISTS notifications_db;
CREATE DATABASE notifications_db;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.
1 rows affected.

[]

In [30]:
%%sql
use notifications_db;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [31]:
%%sql
CREATE TABLE notifications (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(225) NOT NULL,
    body TEXT NOT NULL,
    type ENUM('foreground', 'background') NOT NULL,
    source VARCHAR(50) DEFAULT 'Instagram', -- New column for source
    received_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [32]:
%%sql
ALTER TABLE notifications ADD UNIQUE KEY unique_notification (title, body(255), type);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [34]:
%%sql
truncate notifications

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [53]:
%%sql
select * from notifications

 * mysql+mysqlconnector://root:***@localhost/
7 rows affected.

[(1, 'Instagram Notification', 'user2 sent you a friend request', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 29, 51)),
 (2, 'Instagram Notification', 'user5 tagged you in a photo', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 29, 40)),
 (4, 'Instagram Notification', 'user1 liked your photo', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 30, 35)),
 (6, 'Instagram Notification', 'user4 commented on your post', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 33, 21)),
 (7, 'Instagram Notification', 'user6 shared your post', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 33, 37)),
 (8, 'Instagram Notification', 'user7 followed you', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 40, 39)),
 (13, 'Instagram Notification', 'user3 started a live video', 'background', 'Instagram', datetime.datetime(2025, 9, 13, 21, 40, 51))]

In [52]:
%%sql
select
SUBSTRING_INDEX(body, ' ',1) AS username, -- Extract the first word from the body (e.g., 'user1')
COUNT(*) AS count
FROM notifications
GROUP BY username
ORDER BY COUNT DESC
LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost/
5 rows affected.

[('user2', 1), ('user5', 1), ('user1', 1), ('user4', 1), ('user6', 1)]

In [51]:
%%sql
SELECT COUNT(*) AS notifications_last_week
FROM notifications
WHERE received_at >= NOW() - INTERVAL 7 DAY;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(7,)]

In [50]:
%%sql
SELECT type, COUNT(*) AS COUNT
FROM notifications
GROUP BY type;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('background', 7)]